{# templates/bandeja.html.twig #}
{% extends 'base.html.twig' %}
{% block contenido %}
<div class="conten">
  <div class="contenedor_consultas" id="">
    <div>
      Nueva Consulta
      <a href="{{ path('formularioConsulta')}}">
        <span class="link"></span>
      </a>
    </div>
  </div>
  <div class="consulta">
    {% block consulta %}

    {% endblock %}


  </div>
    <script>
      var objDiv = document.getElementById("contenedor_mensajes");
      objDiv.scrollTop = objDiv.scrollHeight;
    </script>
</div>
{% endblock %}