{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="estilos.css">
    </head>
    <body>
		{% block body %}
        <div class="todo">
			{% block cabecera %}
				{{ include('cabecera.html.twig') }}
			{%endblock %}
		    {% block contenido%}
		    {% endblock%} 
        </div>   
        {% endblock %}
    </body>
</html>
