{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('estilos.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
		{% block js %}
        {% endblock %}

    </head>
    <body>
		{% block body %}
        <div class="todo">
			{% block cabecera %}
				{{ include('cabecera.html.twig') }}
			{%endblock %}
		    {% block contenido%}
		    {% endblock%} 
        </div>
        {% endblock %}
    </body>
</html>
