<h1><a href="{{ path('bandeja') }}">Telemedicina</a></h1>
<nav>
    <ul>
        <li><a href="bandeja.php" class="nav">Bandeja</a></li>
        <li><a href="lista_medicos.php" class="nav">Medicos</a></li>
        {% if is_granted('ROLE_ADMIN') %}
			<li><a href='zonaadmin.php' class='nav'>Zona Admin</a></li>
		{%endif%}
        <li><a href="perfil.php" class="nav">Perfil</a></li>
        <li><a href="logout.php" class="nav">Salir</a></li>
    </ul>
</nav>