{# templates/login.html.twig #}
{% extends 'base.html.twig' %}
{% block contenido %}  
      <div class="conten">
        <div class="login">
		<form action="{{ path('cambioclave', {'codigo': recuperacion } ) }}" onsubmit=" return validacion()" method="post">
          <table>
              <td><label for="">Nueva Contraseña:</label></td>
              <td><input type="password" id="clave" name="clave"/></td>
            </tr>
            <tr>
                <td><label for="">Repita contraseña:</label></td>
                <td><input type="password" id="clave1" name="clave1"/></td>
                <tr><td colspan="2" ><input type="submit" id="button-25" class="button-24" value="Cambiar Contraseña"/></td></tr>
              </tr>
          </table>
		  </form>
        </div>
      </div>
      
      <script>
        function validacion(){
          var contraseña = document.getElementById("clave").value;
          var contraseña1 = document.getElementById("clave1").value;
          if(contraseña != ""){
            if(contraseña == contraseña1){
            return true;
          }else{
            alert("Las 2 contraseñas no coinciden.");
            var contraseña = document.getElementById("clave").value = "";
            var contraseña1 = document.getElementById("clave1").value = "";
            return false;
          }
          }else {
            return false;
          }
        }
        </script>
{% endblock %}
