{# templates/inicio.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
<title>Formulario de login</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="estilos.css">
{% endblock %}
{% block contenido %}  
<body>
<p>a</p>
</body>

</html>!12
{% endblock %}