{# templates/recuperar.html.twig #}
{% extends 'base.html.twig' %}
{% block contenido %}  
      <div class="conten">
        <div class="login">
            <table>
              <tr>
                <td>{{ mensaje }}</td>
              </tr>
            </table>
        </div>
      </div>
{% endblock %}