{# templates/recuperar.html.twig #}
{% extends 'base.html.twig' %}
{% block contenido %}  
      <div class="conten">
        <div class="login">
		<form action="{{ path('enviarcorreoRecuperacion') }}" method="post">
          <table>
            <tr>
                <td colspan="2">Enviar correo de recuperacion</td>
            </tr>
            <tr>
                <td><label for="">Correo:</label></td>
                <td><input type="text" id="correo" name="correo" /></td>
            </tr>
            <tr>
              <td colspan="2">
                <button id="button-25" class="button-24" role="button" type="submit">
                  Recuperar
                </button>
              </td>
            </tr>
          </table>
		  </form>
        </div>
      </div>
{% endblock %}